header {
    background-color:#694F94;
    color: white;
    padding: 10px 0;
    border-bottom: 2px solid #ebebeb;
    text-align: center;
    font-size: 24px;
    font-family: 'Arial', sans-serif;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #CEC5F0;
    margin: 0;
    padding: 20px;
    text-align: center;
}

form {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
    text-align: left;
    width: 500px;
}

ul {
    text-align: center;
    padding: 0;
}

input[type="text"], select, textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4285f4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    opacity: 0.8;
}
